section {
  margin: 2rem 0;
}
.section-products .row {
  min-height: 100vh;
}

.row {
  display: flex;
  overflow: hidden;
}

.column {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.left-column {
  flex: 0 0 66.6%;
  background: linear-gradient(53deg, #FFF 0%, #EAEAEA 82.01%);
  position: relative;
  z-index: 1;
}

.shrink {
  flex: 0 0 50%;
  background: linear-gradient(53deg, #FFF 0%, #EAEAEA 82.01%);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.right-column {
  flex: 0 0 33.3%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column .background {
  height: 100%;
  width: 100%;
  background-image: url('../public/images/darwin_tree.png');
  background-repeat: no-repeat;
  background-size: 100% 120%;
  scale: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.right-column .caption {
  position: relative;
  z-index: 1;
  text-align: center;
}

.caption img {
  padding-top: 2rem;
}

.caption .text {
  margin: .5rem 0;
  text-align: left;
  font-size: 72pt;
  opacity: .1;
}

.caption .sub-text {
  text-align: left;
}

.caption .hr {
  margin: .5rem 0;
  width: 100%;
  height: 0;
}

.caption .links {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.caption .links a {
  text-decoration: none;
  padding: .25rem 0;
  transition-delay: .3s;
}

.caption .links a:hover span {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.vertical-text {
  line-height: 1;
  margin: auto;
}

.vertical-text span {
  display: block;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.vertical-text span:nth-child(1) { color: #555; }
.vertical-text span:nth-child(2) { color: #666; }
.vertical-text span:nth-child(3) { color: #777; }
.vertical-text span:nth-child(4) { color: #888; }
.vertical-text span:nth-child(5) { color: #999; }
.vertical-text span:nth-child(6) { color: #aaa; }
.vertical-text span:nth-child(7) { color: #bbb; }
.vertical-text span:nth-child(8) { color: #ccc; }

.icons-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.reset-btn {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.reset-btn:hover {
  scale: 1.05;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  position: relative;
}

.icons.no-gird {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons.show-all .icon {
  opacity: 1;
  visibility: visible;
}

.icon .text {
  font-size: 10pt;
}

.icon .sub-text {
  font-size: 8pt;
}

.no-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.no-grid .icon {
  opacity: 0;
  visibility: hidden;
}

.no-grid .icon.selected {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.section-products .icons svg:hover path {
  fill: var(--hover-color);
  transition: fill .3s ease-in-out;
}

.no-grid .icon.selected svg path {
  fill: var(--selected-color);
}

.icons .icon {
  opacity: 0;
  visibility: hidden;
}

.right-column.expanded {
  flex: 0 0 50%;
}

.product-info {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-info.visible {
  opacity: 1;
}


/* example */

.section-products-example {
  padding: 4rem;
}

.section-products-example .row, .section-products-example .column {
  height: 100%;
}

.heading-container {
  padding-bottom: 2rem;
}

.heading-container .column {
  width: 100%;
  padding-top: 1rem;
}

.heading {
  color: #444;
  font-size: 30pt;
  font-weight: bolder;
  text-align: center;
}

.heading-text {
  width: 100%;
  min-width: 100%;
  font-weight: lighter;
  color: #555;
  font-size: 8pt;
  padding-bottom: 1rem;
  text-align: center;
}

.section-products-example .icons-container {
  padding: 2rem;
}

.section-products-example .icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
}

.section-products-example .icons .icon {
  max-width: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-products-example .icons .icon h3, .section-products-example .icons .icon p {
  max-width: 150px;
  width: 100%;
  text-align: center;
}

.section-products-example .links {
  max-width: 150px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-products-example .links a {
  text-decoration: none;
  color: #222;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: .125rem .25rem;
  font-size: 8pt;
  min-width: 4rem;
  text-align: center;
  margin-right: .25rem;
}

@media (max-width: 680px) {
  .row {
    flex-wrap: wrap;
  }

  .column {
    flex: 0 0 100%;
  }

  .icons {
    padding: 1rem 0;
  }

  .left-column, .shrink {
    order: 2;
  }

  .column.right-column {
    flex: 0 0 100%!important;
    order: 1;
  }

  .shrink {
    flex: 0 0 100%!important;
  }

  .section-products-example {
    padding: 2rem 1rem;
  }

  .section-products-example .links {
    display: flex;
    flex-wrap: wrap;
  }

}