body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  background: linear-gradient(12deg, #FFF 14.84%, #EAEAEA 92.54%);
  background-image: url('/icons/darwin_tree.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: 0;
}